body {
    background-color: hsl(0, 0%, 90%);
}

h2, h3, p {
    margin: 0;
    margin-bottom: 8px;
}

inpit[type="radio"] {
    padding: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    font-size: 1.2em;
}

.board {
    width: 640px;
    height: 640px;
    background-color: white;
}

.board.show-grid > div {
    border: 1px dotted black;
}

.layout-settings {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.layout-setting-column {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.layout-setting-row {
    display: flex;
    column-gap: 8px;
}

.settings {
    position: absolute;
    background-color: hsl(0, 0%, 92%);
    border: 1px solid black;
    border-radius: 6px;
    padding: 16px;
    top: 50%;
    left: 50%;
}

.settings-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
}

.is-hidden {
    display: none;
}