body {
    background-color: hsl(0, 0%, 96%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.is-hidden {
    display: none;
}

.board {
    width: 480px;
    height: 480px;
}

.board > div {
    border: 1px solid black;
}