body {
    background-color: hsl(0, 0%, 96%);
}

h3 {
    margin: 0;
    margin-bottom: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    width: 480px;
    height: 480px;
}

.board > div {
    border: 1px solid black;
}

.stylus-settings {
    display: flex;
    flex-direction: column;
}

.settings {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 92%);
    border: 1px solid black;
    border-radius: 6px;
    padding: 16px;
    top: 50%;
    left: 50%;
}

.is-hidden {
    display: none;
}

.settings > div {
    margin-bottom: 24px;
}